# Scrapping Data from Website using BeautifulSoup + Pandas

### Entire code at a galance

In [ ]:
"""                                      """Entire codes al a galance"""
from bs4 import BeautifulSoup
import requests
---
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
soup 
---
table = soup.find_all('table')[1]
print(table)
---
world_title = table.find_all('th')
print(world_title)
---
world_table_title = [title.text.strip() for title in world_title]
print(world_table_title)
---
import pandas as pd
df = pd.DataFrame(columns = world_table_title)
df
---
column_data = table.find_all('tr')
print(column_data)
---
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    print(individual_row_data)

    length = len(df)
    df.loc[length] = individual_row_data

df
---
df.to_csv(r'C:\Users\User.SHAWONALAM\OneDrive\Documents\Web scrapping using pandas, python\largest companies in USA by revenue.csv', index=False)
"""

## Step by Step

### Importing Beautiful Soup and Loading URL

In [144]:
from bs4 import BeautifulSoup
import requests

In [207]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
#soup

### Finding target table and creating list of it

In [ ]:
table = soup.find_all('table')[1]
#print(table)

In [211]:
world_title = table.find_all('th')
#print(world_title)

In [155]:
world_table_title = [title.text.strip() for title in world_title]
print(world_table_title)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

### Using Pandas to extract table Header

In [201]:
import pandas as pd
df = pd.DataFrame(columns = world_table_title)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

### Extracting data into the table using Pandas df

In [203]:
column_data = table.find_all('tr')
#print(column_data)

In [205]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    #print(row_data)
    individual_row_data = [data.text.strip() for data in row_data]
    #print(individual_row_data)

    #length = len(df)
    df.loc[len(df)] = individual_row_data

In [189]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
295,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
296,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
297,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
298,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
299,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

### Saving data frame into a CSV file

In [216]:
df.to_csv(r'C:\Users\User.SHAWONALAM\OneDrive\Documents\Web scrapping using pandas, python\largest companies in USA by revenue.csv', index=False)